@import "../base/variable.scss";
@import "../base/mixins.scss";


// font-family: 'Lexend', sans-serif;
// font-family: 'Montserrat', sans-serif;


body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	overflow: unset;
}

.btn-primary{
	background-color: $primary_color;
	color: $white;
	border-radius: 15px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	font-weight: 600;
	width: 130px;
	padding: 0;
	outline: none;
	&:hover{
		background-color: darken($red, 4%);
		color: $white;
	}
	&:focus{
		box-shadow: unset;
		background-color: darken($red, 4%);
		color: $white;
		border: unset;
		outline: none;
	}
	&:active{
		box-shadow: none;
		border-color:  darken($red, 4%);
		background-color: darken($red, 4%);
		color: $white;
		&:focus{
			box-shadow: unset;
		}
	}
}




/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	
}

/* Smaller phones */
@media (max-width: 360px) {
	
	
}

/* Smaller phones */
@media (max-width: 320px) {
}
