@import "../base/variable.scss";
@import "../base/mixins.scss";

.client {
    margin-bottom: 90px;

    .parent_client {
        background-color: $bg_1;
        width: 70%;
        padding: 60px 48px;

        .subtitle {
            @include clearfix();
            display: flex;
            align-items: center;
            margin-bottom: 50px;

            p {
                float: left;
                font-size: 12px;
                line-height: 20px;
                color: $black;
                font-weight: 400;
                letter-spacing: 3px;
                text-transform: uppercase;
                flex-shrink: 0;
            }

            .horizontal_line {
                float: right;
                width: 100%;
                height: 1px;
                background-color: $bgcolor_2;
                margin-left: 18px;
            }
        }

        .image_wrapper {
            display: flex;
            gap: 100px;

            .img {
                flex-shrink: 0;
                width: calc((100% - 300px) / 4);
                height: 43px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}




/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

@media (min-width: 1200px) and (max-width: 1399px) {

    .client {
        margin-bottom: 70px;

        .parent_client {

            .subtitle {

                p {}

                .horizontal_line {}
            }

            .image_wrapper {
                display: flex;
                gap: 50px;

                .img {
                    width: calc((100% - 150px) / 4);
                    height: 40px;

                    img {}
                }
            }
        }
    }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    .client {
        margin-bottom: 60px;

        .parent_client {
            padding: 50px 40px;
            width: 90%;
            margin: auto;
            .subtitle {
                margin-bottom: 40px;

                p {}

                .horizontal_line {}
            }

            .image_wrapper {
                display: flex;
                gap: 50px;

                .img {
                    width: calc((100% - 150px) / 4);
                    height: 50px;

                }
            }
        }
    }

}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {

    .client {
        margin-bottom: 50px;

        .parent_client {
            padding: 50px 40px;
            width: 85%;
            margin: auto;
            .subtitle {
                margin-bottom: 30px;

                p {}

                .horizontal_line {}
            }

            .image_wrapper {
                display: flex;
                gap: 50px;

                .img {
                    width: calc((100% - 150px) / 4);
                    height: 30px;
                }
            }
        }
    }

}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .client {
        margin-bottom: 40px;

        .parent_client {
            padding: 40px 30px;
            width: 100%;
            margin: auto;
            .subtitle {
                margin-bottom: 25px;

                p {}

                .horizontal_line {}
            }

            .image_wrapper {
                display: flex;
                gap: 50px;

                .img {
                    width: calc((100% - 150px) / 4);
                    height: 32.5px;
                }
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 667px) {}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {

    .client {
        margin-bottom: 40px;

        .parent_client {
            padding: 24px 20px;
            width: 100%;
            margin: auto;
            .subtitle {
                margin-bottom: 15px;

                p {
                    font-size: 11px;
                }

                .horizontal_line {}
            }

            .image_wrapper {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                .img {
                    width: calc((100% - 30px) / 4);
                    height: 21px;
                }
            }
        }
    }

}

/* Smaller phones */
@media (max-width: 360px) {

    .client {
        margin-bottom: 30px;

        .parent_client {
            padding: 15px 20px;
            width: 100%;
            margin: auto;
            .subtitle {
                margin-bottom: 10px;

                p {
                    font-size: 10px;
                }

                .horizontal_line {}
            }

            .image_wrapper {
                display: flex;
                gap: 0px;
                flex-wrap: wrap;
                justify-content: space-between;
                row-gap: 7px;
                .img {
                    width: 35%;;
                    height: 27px;
                }
            }
        }
    }

}

/* Smaller phones */
@media (max-width: 320px) {}