$black: #090b19;
$white: #ffffff;
$red: #D2050A;
$green: #008000;
$dark-green:#4dc329;
$yellow: #FFFF00;
$pink: #FFC0CB;
$blue: #0000FF;
$purple: #CC8899;
$brown: #A52A2A;
$grey: #686868;
$backdrop: #00000067;
$light_green:#698474;
$white: #fff;
$white_2: #E0E0E0;
$link: #00A9FE;
$btn_bg: #F8f8f8;

$primary_color: #0A0A5A;
$secondary_color: #1F98D5;

$bgcolor_2: #99abd6;
$bgcolor_3: #f1f1f1;

// Social Icons Color
$facebook: #284386;
$twitter: #1da1f2;
$linkedin: #0077b5;
$google-plus: #db4437;
$youtube: #fa362c;
$skype: #02b4eb;
$pinterest: #bd0d21;
$instagram: #e1376f;


// text Colors
$primary_text: #181C2F;
$secondary_text:#1E97D4;
$text_1: #6e7488;
$bg_1: #f3f6fc;



// border Colors
$border_color: #6464642b;
$border: #64646488;
$card_border: #dbdbdb7e;


//inputs bg
$input_bg: #ffffff21;

